@import lib/_bootstrap-reboot.min.scss
@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab&display=swap')
@import base/_varibles
@import blocks/_nav
@import blocks/_sections

html
    font-size: 16px

.container
    padding: 0 0.75rem
    margin: 0 auto
    max-width: 1140px