.header
    position: fixed
    width: 100%
    border-bottom: 3px solid rgba(0, 0, 0, 0)
    transition: background-color .2s, border-color .2s
    &_scrolled
        background-color: $light-blue
        border-bottom: 3px solid black

.navbar
    display: flex
    flex-wrap: wrap
    align-items: center
    justify-content: space-between
    a
        color: black
    &__toggle
        display: none
    &__logo
        display: flex
        align-items: center
        height: 3rem
        &-text
            padding-left: 1rem
    
.nav
    list-style-type: none
    padding: 0
    margin: 0
    display: flex
    &__item
        padding: 0 0.5rem
        &:last-child
            padding-right: 0 
        a
            padding: 0.5rem

@media (max-width: 576px)
    @keyframes toX1
        50%
            transform: translateY(2px)
        100%
            transform: translateY(2px) rotate(45deg)
    @keyframes toX2
        50%
            background-color: rgba(0, 0, 0, 0)
        100%
            background-color: rgba(0, 0, 0, 0)
    @keyframes toX3
        50%
            transform: translateY(-2px) rotate(-15deg)
        100%
            transform: translateY(-2px) rotate(-45deg)
            
    .navbar
        &__toggle
            display: block
            border: none
            padding: 0.5rem
            background-color: rgba(0, 0, 0, 0)
        &__togline
            height: 2px
            width: 20px
            background-color: black
            animation-fill-mode: both
            animation-duration: .6s
            animation-timing-function: linear
            &_1
                transform: translateY(-5px)
                animation-name: toX1
                
            &_2
                animation-name: toX2
            &_3
                transform: translateY(5px)
                animation-name: toX3
        &__logo-text
            display: none
    
    .nav
        width: 100%
        padding: 0
        flex-wrap: wrap
        overflow: hidden
        transition: all .2s ease
        height: 0px
        &__item
            padding: 0
            width: 100%
            &:last-child
                margin-bottom: 0.5rem
            &:first-child
                margin-top: 0.5rem
            a
                display: block
                padding: 0.5rem 0
                